<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue ToDo List</title>
    <!-- css -->
    <link rel="stylesheet" href="/css/style.css" />
    <!-- FontAwesome-->
    <script
      src="https://kit.fontawesome.com/7711c3f1fc.js"
      crossorigin="anonymous"
    ></script>
    <!-- bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div id="app" v-cloak>
        <div class="holder d-flex align-items-center justify-content-center ">
            <div class="row container">
                <div class="col-lg-5 mx-auto">
                    <div class="card rounded border-0 shadow-sm position-relative">
                        <div class="card-body p-5">
                            <div class="d-flex align-items-center mb-4 pb-4 border-bottom"><i class="far fa-calendar-alt fa-3x"></i>
                                <div class="ms-3">
                                    <h4 class="text-uppercase fw-weight-bold mb-0">Wednesday</h4>
                                    <p class="text-gray fst-italic mb-0">22 May 2024</p>
                                </div>
                            </div>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="Add New ToDo" maxlength="40" aria-label="Add New ToDo" aria-describedby="button-addon2" v-model="newToDo">
                                <button class="btn btn-outline-secondary" type="button" id="button-addon2" @click="createNewToDo">Add</button>
                              </div>
                            <div class="form-check mb-3" v-for="(item, index) in todoList">
                                <input class="form-check-input" :id=`flexCheck${index}` type="checkbox" maxlength="40" v-model="todoList[index].done" >
                                <label class="form-check-label" :class="{done: todoList[index].done}" :for=`flexCheck${index}`><span class="fst-italic pl-1" >{{ todoList[index].text }}</span></label>
                                <i class="fas fa-xmark ps-2 delete" @click="deleteItem(index)"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
    </div>
    <!-- vue -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- /vue -->
    <!-- js -->
    <script src="js/main.js"></script>
    <!-- /js -->
  </body>
</html>
